{% extends "base.html" %}
{% block title %}{{ spider }} Worker List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                {% for worker in workers %}
                <div class="list-group-item">
                    <a href="/worker?worker={{ worker }}">{{ worker }}</a>
                    <a class="btn btn-info" href="/project/spider/run?project={{ project }}&spider={{ spider }}&worker={{ worker }}">Run</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                {% for h, jobs in jobs_result.items() %}
                <div class="list-group-item">
                    <a>{{ h }}</a>
                    <table id="pending" class="table">
                        <caption>Pending Job</caption>
                        <thead><tr>
                            <th>Spider</th>
                            <th>Job Id</th>
                        </tr></thead>
                        <tbody id="pending-body">
                            {% for job in jobs.pending %}
                            <tr>
                                <td> {{ job.spider }} </td>
                                <td> {{ job.id }} </td>
                                <td><a class="btn btn-info" href="/project/spider/stop?project={{ project }}&job={{ job.id }}&worker={{ h }}">Stop</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table id="running" class="table">
                        <caption>Running Job</caption>
                        <thead><tr>
                            <th>Spider</th>
                            <th>Job Id</th>
                            <th>Start Time</th>
                        </tr></thead>
                        <tbody id="running-body">
                            {% for job in jobs.running %}
                            <tr>
                                <td> {{ job.spider }} </td>
                                <td> {{ job.id }} </td>
                                <td> {{ job.start_time }} </td>
                                <td><a class="btn btn-info" href="/project/spider/stop?project={{ project }}&job={{ job.id }}&worker={{ h }}">Stop</a></td>
                                <td><a href="{{ h }}/logs/{{ project }}/{{ job.spider }}/{{ job.id }}.log">Log</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table id="finished" class="table">
                        <caption>Finished Job</caption>
                        <thead><tr>
                            <th>Spider</th>
                            <th>Job Id</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr></thead>
                        <tbody id="finished-body">
                            {% for job in jobs.finished %}
                            <tr>
                                <td> {{ job.spider }} </td>
                                <td> {{ job.id }} </td>
                                <td> {{ job.start_time }} </td>
                                <td> {{ job.end_time }} </td>
                                <td><a href="{{ h }}/logs/{{ project }}/{{ job.spider }}/{{ job.id }}.log">Log</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
